[submodule "model_sim"]
	path = model_sim
	url = git@github.com:R2CLab/simple_sim
	branch = hovergames-wind
[submodule "forces_resilient_planner"]
	path = forces_resilient_planner
	url = git@github.com:Johannap1/forces_resilient_planner
[submodule "drone_toolbox"]
	path = drone_toolbox
	url = git@github.com:cor-drone-dev/drone_toolbox.git
[submodule "lmpcc"]
	path = lmpcc
	url = git@github.com:dbenders1/lmpcc.git
